{% extends 'ayregistration/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Confirm
      </h1>
  
    
      <div class="row">
       {{refno}}
        <!-- Blog Entries Column -->
        <div class="col-md-12">
          <div class="form-box jumbotron-fluid">
            <div class="container">
              <h1 class="display-5">Thank you for submitting your
                information to temple salem pathfinders.</h1>
          
              <a href="/" class="btn btn-success d-flex justify-content-center font-weight-bold">Back <<<</a>
            </div>
          </div>
          </div>
  
        </div>

      <!-- /.row -->



{% endblock %}