 <section class="hero is-small is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-7-desktop is-offset-2-desktop">
              <h1 class="title is-2 is-spaced">
                Pathfinder Club Membership Application
              </h1>
              <h2 class="subtitle is-4">
                 <p>Please fill out the form below to enroll</p>
                 <p>Step 1 : Complete the form </p>
                 <p>Step 2: Complete the
              </h2>
            </div>
             <div class="column">
          <article class="message is-danger">
  <div class="message-body">
      <h2>Registration Fee : <strong>$35</strong></h2>
      </div>
      </article>
  
          </div>
         
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <div class="content">

<h3>Please complete the form below </h3>
 <p>I would like to enroll in the <strong class="has-text-danger">Insert date here</strong> Pathfinder club.  I will attend club meetings, hikes, camping and field trips, missionaryadventures and other club activities. I agree to be guided by the rules of the club and the Pathfinder Pledge and Law</p>
<p >Pathfinder signature <div style="border-bottom: 1px solid black; width:150px;"> </div></p> 



<div class="columns">
  <div class="column">
  <article class="message is-info">
  <div class="message-header">
   <h2>Pathfinder Pledge</h2>
   </div>
   <p>By the grace of God </p>
   <p>I will be pure, kind and true </p> 
   <p>I will keep the Pathfinder Law</p>
   <p>I will be a servant of God</p>
   <p>And a friend to man</p> 
   </article>

 
  </div>
  <div class="column">
  <article class="message is-info">
  <div class="message-header">
    <h2>Pathfinder Law</h2> </div>
   <p>Keep the Morning Watch</p>
   <p>Do my honest par </p> 
   <p>Care for my body</p>
   <p>Keep a level eye</p>
   <p>Be courteous and obedient</p> 
   <p>Walk softly in the sanctuary</p>
   <p>Keep a song in my heart</p>
   <p>Go on God's errands</p> 

    </article>
  </div>
  <div class="column">
  <article class="message is-info">
  <div class="message-body">
    <img src="img/pathfinder-logo.png" alt="The logo of pathfinders club">
      </div>
</article>
  </div>
 
</div> <!--End columns pledges-->
<h2>Personal Information</h2>
<form> 
<div class="columns">

<div class="column">
  <div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>

<div class="column">
  <div class="field">
  <label class="label">Phone: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>

<div class="column">
  <div class="field">
  <label class="label">Last class invested in: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>
  </div> <!--End first input column-->
  <div class="columns">
    <div class="column is-half">
  <div class="field">
  <label class="label">Address: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>
    <div class="column">
  <div class="field">
  <label class="label">City: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>

   <div class="column">
  <div class="field">
  <label class="label">State: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>

   <div class="column">
  <div class="field">
  <label class="label">Zip: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div> 



  </div> <!--End second row Columns-->
 <div class="columns">

<div class="column is-half">
  <div class="field">
  <label class="label">School</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>

<div class="column">
  <div class="field">
  <label class="label">Grade: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>

<div class="column">
  <div class="field">
  <label class="label">Church: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>
  </div> <!--End first input column-->
  <div class="columns">
    <div class="column is-half">
  <div class="field">
  <label class="label"> Email Address: </label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>
</div>
    <div class="column">
  <button class="button is-success is-large save-continue" onclick = "savePartOne()">Save and Continue</button>
</div>